@{
    var selectedProduct = ViewData["SelectedProduct"] as Shop.Models.Product;
    var relatedProducts = ViewData["RelatedProducts"] as List<Shop.Models.Product>;

    if (relatedProducts == null)
    {
        relatedProducts = new List<Shop.Models.Product>();
    }
}

<main id="content" class="wrapper layout-page">
    <section class="container container-xxl pb-15 pb-lg-17">
        <div class="text-center">
            <h2 class="my-12">Compare</h2>
        </div>
        <div class="table-responsive-xl">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-center align-middle bg-body-tertiary p-5">
                            <span class="fs-6 text-body-emphasis fw-500">Products</span>
                        </th>
                        <th scope="col" class="pb-9">
                            <p class="fs-18px text-center mt-4 mb-6 text-body-emphasis fw-semibold">
                                @selectedProduct?.Name
                            </p>
                            <a href="@Url.Action("ProductDetail", "Home", new { id = selectedProduct?.ID })" class="text-center d-block">
                                <img src="@Url.Content(selectedProduct?.Image)" class="lazy-image" alt="@selectedProduct?.Name" style="max-width: 210px" width="210" height="280">
                            </a>
                        </th>

                        @foreach (var product in relatedProducts)
                        {
                            <th scope="col" class="pb-9">
                                <p class="fs-18px text-center mt-4 mb-6 text-body-emphasis fw-semibold">
                                    @product.Name
                                </p>
                                <a href="@Url.Action("ProductDetail", "Home", new { id = product.ID })" class="text-center d-block">
                                    <img src="@Url.Content(product.Image)" class="lazy-image" alt="@product.Name" style="max-width: 210px" width="210" height="280">
                                </a>
                            </th>
                        }
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="col" class="text-center align-middle bg-body-tertiary p-5">
                            <span class="fs-6 text-body-emphasis fw-500">Price</span>
                        </th>
                        <td scope="col" class="px-6 px-lg-9 align-middle">
                            <span class="fs-15px fw-500 text-decoration-line-through text-body">
                                $@selectedProduct?.Price
                            </span>
                            <span class="pe-3 fs-18px font-weight-bold text-body-emphasis">
                                $@((selectedProduct?.Price ?? 0m) * 0.75m)
                            </span>
                            <span class="badge bg-primary ms-4 fs-6">-25%</span>
                        </td>
                        @foreach (var product in relatedProducts)
                        {
                            <td scope="col" class="px-6 px-lg-9 align-middle">
                                <span class="fs-15px fw-500 text-decoration-line-through text-body">
                                    $@product?.Price
                                </span>
                                <span class="pe-3 fs-18px font-weight-bold text-body-emphasis">
                                    $@((product?.Price ?? 0m) * 0.75m)
                                </span>
                                <span class="badge bg-primary ms-4 fs-6">-25%</span>
                            </td>
                        }
                    </tr>
                    <tr>
                        <th scope="col" class="text-center align-middle bg-body-tertiary p-5">
                            <span class="fs-6 text-body-emphasis fw-500">Stock Status</span>
                        </th>
                        <td class="px-6 px-lg-9 align-middle">
                            <i class="fas fa-check fs-12px px-2 py-1 rounded-circle bg-primary text-white d-inline-flex align-items-center justify-content-center"></i>
                            <span class="fs-15px fw-500 ms-3">In stock</span>
                        </td>

                        @foreach (var product in relatedProducts)
                        {
                            <td class="px-6 px-lg-9 align-middle">
                                <i class="fas fa-check fs-12px px-2 py-1 rounded-circle bg-primary text-white d-inline-flex align-items-center justify-content-center"></i>
                                <span class="fs-15px fw-500 ms-3">In stock</span>
                            </td>
                        }
                    </tr>
                    @* <tr> *@
                    @*     <th scope="col" class="bg-body-tertiary">Add to Cart</th> <!-- Tiêu đề cho cột nút Add to Cart --> *@
                    @*     @foreach (var product in relatedProducts) *@
                    @*     { *@
                    @*         <td class="px-6 text-center align-middle py-7"> *@
                    @*             <a href="@Url.Action("AddToCart", "Cart", new { id = product.ID })" class="btn btn-dark btn-hover-bg-primary border-0 py-4">Add To Cart</a> *@
                    @*         </td> *@
                    @*     } *@
                    @* </tr> *@
                </tbody>
            </table>
        </div>
    </section>
</main>
