@model Cosmetic.Models.ViewModels.ProductEditViewModel

@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";

    var product = Model;
}

<div class="dashboard-page-content">
    <div class="row mb-9 align-items-center">
        <div class="col-xxl-9">
            <div class="row">
                <div class="col-sm-6 mb-8 mb-sm-0">
                    <h2 class="fs-4 mb-0">Edit Product</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12">
            <div class="card rounded-4">
                <div class="card-body p-7">
                    <div class="row mx-n7">
                        <div class="col-lg-12 px-7">
                            <section class="p-xl-5">

                                <form id="editProductForm" action="/Products/EditProduct" onsubmit="submitFormDataWithFile('editProductForm','PUT'); return false;" enctype="multipart/form-data">
                                    <input asp-for="ProductVariants" type="hidden" />
                                    <input asp-for="CategoryMenu" type="hidden" />
                                    <input type="hidden" asp-for="Image" />
                                    <div class="row mb-8">

                                        <div class="col-lg-3 ">
                                            <label class="col-lg-6 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="Id">Id</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Id" class="form-control" value="@product.Id" readonly />
                                            </div>
                                        </div>

                                        <div class="col-lg-3">

                                            <label class="col-lg-6 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="IsAvailable">Status</label>
                                            <div class="col-lg-9">
                                                <select asp-for="IsAvailable" class="form-select">
                                                    <option value="true">Available</option>
                                                    <option value="false">Unavailable</option>
                                                </select>
                                                <span asp-validation-for="IsAvailable" class="text-danger field-error"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 ">
                                            <label class="col-lg-6 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="InStock">In Stock</label>
                                            <div class="col-lg-9">
                                                <input asp-for="InStock" class="form-control" value="@product.InStock" readonly />
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <label class="col-lg-6 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="ProductType">Type</label>
                                            <div class="col-lg-9">
                                                <input asp-for="ProductType" class="form-control" value="@product.ProductType.ToString()" readonly />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mb-8">
                                        <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="Name">Name</label>
                                        <div class="col-lg-9">
                                            <input asp-for="Name" class="form-control" placeholder="Product Name" />
                                            <span asp-validation-for="Name" class="text-danger field-error"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-8">
                                        <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="Description">Description</label>
                                        <div class="col-lg-9">
                                            <textarea asp-for="Description" class="form-control" placeholder="Product Description" rows="3"></textarea>
                                            <span asp-validation-for="Description" class="text-danger field-error"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-8">
                                        <div class="col-lg-4">
                                            <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="CategoryId">Category</label>
                                            <div class="col-lg-9">
                                                <select class="form-select" id="CategoryId" asp-for="CategoryId">
                                                    @foreach (var category in product.CategoryMenu)
                                                    {
                                                        <option value="@category.Id" selected="@(category.Id == product.CategoryId)">@category.Name</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="CategoryId" class="text-danger field-error"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-lg-6 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="Discount">Discount</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Discount" class="form-control" placeholder="Product Discount" />
                                                <span asp-validation-for="Discount" class="text-danger field-error"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-lg-6 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="CreateTime">CreateTime</label>
                                            <div class="col-lg-9">
                                                <input asp-for="CreateTime" class="form-control" placeholder="CreateTime" readonly />
                                                <span asp-validation-for="CreateTime" class="text-danger field-error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-8">
                                        <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase">Image</label>
                                        <div class="col-lg-9">
                                            <div class="input-upload">
                                                <div class="mb-7">
                                                    <img id="previewImage" src="@product.Image" alt="Product Image" class="d-block mx-auto" width="102" />
                                                </div>
                                                <input class="form-control" type="file" id="imageUpload" name="ImageFile" accept="image/*">
                                                <span asp-validation-for="Image" class="text-danger field-error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <button class="btn btn-primary" type="submit">Save Changes</button>
                                    <a asp-controler="Products" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-9 mt-9 align-items-center">
        <div class="col-xxl-9">
            <div class="row">
                <div class="col-sm-6 mb-8 mb-sm-0">
                    <h2 class="fs-4 mb-0">Product Variants</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 rounded-4 p-7">
        <div class="card-body px-0 pt-7 pb-0">
            <div class="table-responsive">
                @if (product.ProductVariants != null && product.ProductVariants.Any())
                {
                    <table class="table table-hover align-middle table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="align-middle text-center" scope="col" style="width: 3%;">
                                    Id
                                </th>
                                <th class="align-middle text-center" scope="col" style="width: 25%;">
                                    Name
                                </th>
                                <th class="align-middle" scope="col" style="width: 5%;">
                                    Price
                                </th>
                                <th class="align-middle text-center" scope="col" style="width: 7%;">
                                    InStock
                                </th>
                                <th class="align-middle text-center" scope="col" style="width: 15%;">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var eachProductVariant in product.ProductVariants)
                            {
                                <tr>
                                    <td class="text-center">@eachProductVariant.Id</td>
                                    <td>
                                        <div class="d-flex align-items-center flex-nowrap">
                                            <a asp-controller="Products" asp-action="EditProduct" asp-route-id="@eachProductVariant.Id"><p class="fw-semibold text-body-emphasis mb-0">@product.Name ( @eachProductVariant.Name )</p></a>
                                        </div>
                                    </td>
                                    <td>$@eachProductVariant.Price.ToString("F2")</td>
                                    <td class="text-center">@eachProductVariant.InStock</td>
                                    <td class="text-center">
                                        <div class="d-flex flex-nowrap justify-content-center">
                                            <a asp-controller="ProductVariant" asp-action="EditProductVariant" asp-route-id="@eachProductVariant.Id" class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i class="far fa-pen me-2"></i> Edit</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="text-center py-5">
                        <div class="mb-4">
                            <i class="far fa-box-open fa-3x text-muted"></i>
                        </div>
                        <h5 class="text-muted mb-4">No Product Variants for this product</h5>
                        <a asp-controller="ProductVariant" asp-action="CreateProductVariant" class="btn btn-primary">
                            <i class="far fa-plus me-2"></i> Create Product Variant
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("imageUpload").addEventListener("change", function(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                document.getElementById("previewImage").src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    });
</script>