@model Cosmetic.Models.ViewModels.ProductVariantEditViewModel

@{
    ViewData["Title"] = "Edit ProductVariant";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";

    var productVariant = Model;
}

<div class="dashboard-page-content">
    <div class="row mb-9 align-items-center">
        <div class="col-xxl-9">
            <div class="row">
                <div class="col-sm-6 mb-8 mb-sm-0">
                    <h2 class="fs-4 mb-0">Edit ProductVariant</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12">
            <div class="card rounded-4">
                <div class="card-body p-7">
                    <div class="row mx-n7">
                        <div class="col-lg-12 px-7">
                            <section class="p-xl-5">
                               
                                <form id="editProductVariantForm" action="/ProductVariant/EditProductVariant" onsubmit="submitFormData('editProductVariantForm','PUT'); return false;">
                                    <div class="row mb-8">
                                        <div class="col-lg-6 col-md-6">
                                            <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="Id">Id</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Id" class="form-control" value="@productVariant.Id" readonly />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="ProductId">Product Id</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" value="@productVariant.Product.Id" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-8">
                                        <div class="col-lg-6 col-md-6">
                                            @{
                                                var productType = productVariant.Product.ProductType.ToString();
                                                var text = "";

                                                if (productType == "VolumeBased")
                                                {
                                                    text = "ml";
                                                }
                                                else if (productType == "WeightBased")
                                                {
                                                    text = "g";

                                                }
                                                else if (productType == "SizeBased")
                                                {
                                                    text = "Size";
                                                }
                                                else
                                                {
                                                    text = "Standard";
                                                }

                                            }
                                            <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="Name">Name ( @text ) </label>
                                            <div class="col-lg-9">
                                                @if (text == "Size")
                                                {
                                                    <select class="form-select" asp-for="Name" disabled>
                                                        <option value="Small" selected="@(productVariant.Name == "Small")">Small</option>
                                                        <option value="Medium" selected="@(productVariant.Name == "Medium")">Medium</option>
                                                        <option value="Large" selected="@(productVariant.Name == "Large")">Large</option>
                                                    </select>
                                                    <input type="hidden" asp-for="Name" value="@productVariant.Name" />
                                                }
                                                else
                                                {
                                                    <input asp-for="Name" value="@productVariant.Name" class="form-control" placeholder="Product Name" readonly/>
                                                }
                                                <span asp-validation-for="Name" class="text-danger field-error"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="Name">Product Type</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" value="@productVariant.Product.ProductType" readonly/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-8">
                                        <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="Price">Price</label>
                                        <div class="col-lg-9">
                                            <input asp-for="Price" class="form-control" placeholder="Product Price" />
                                            <span asp-validation-for="Price" class="text-danger field-error"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-8">
                                        <label class="col-lg-3 col-form-label mb-2 fs-13px ls-1 fw-semibold text-uppercase" for="InStock">In Stock</label>
                                        <div class="col-lg-9">
                                            <input asp-for="InStock" class="form-control" value="@productVariant.InStock" />
                                        </div>
                                    </div>
                                    <br>
                                    <button class="btn btn-primary" type="submit">Save Changes</button>
                                    <a asp-controler="ProductVariant" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>