@{
    var selectedProduct = ViewData["SelectedProduct"] as Cosmetic.Models.Product;
    var relatedProducts = ViewData["RelatedProducts"] as List<Cosmetic.Models.Product>;

    if (relatedProducts == null)
    {
        relatedProducts = new List<Cosmetic.Models.Product>();
    }

    var userEmail = ViewBag.UserEmail as string;
    ViewData["Title"] = "Compare Products";
}

<main id="content" class="wrapper layout-page">
    <section class="container container-xxl pb-15 pb-lg-17">
        <div class="text-center">
            <h2 class="my-12">Compare</h2>
        </div>
        <div class="table-responsive-xl">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-center align-middle bg-body-tertiary p-5">
                            <span class="fs-6 text-body-emphasis fw-500">Products</span>
                        </th>
                        <th scope="col" class="pb-9">
                            <p class="fs-18px text-center mt-4 mb-6 text-body-emphasis fw-semibold">
                                @selectedProduct?.Name
                            </p>


                            <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@selectedProduct.Id" class="text-center d-block">
                                <div class="productContainerMainCompare">
                                    <div class="containerWrapProductCompare">
                                        <img src="@Url.Content(selectedProduct.Image)" class="lazy-image" alt="@selectedProduct.Name" style="max-width: 210px" width="210" height="280">
                                        <div class="badgeProductVariantName__Compare">
                                            <span class="badge bg-light text-dark fs-12px px-4 py-4" title="@selectedProduct.ProductVariants[0].Name">
                                                @selectedProduct.ProductVariants[0].Name
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>







                        </th>

                        @foreach (var product in relatedProducts)
                        {
                            <th scope="col" class="pb-9">
                                <p class="fs-18px text-center mt-4 mb-6 text-body-emphasis fw-semibold">
                                    @product.Name
                                </p>


                                <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@product.Id" class="text-center d-block">

                                    <div class="productContainerMainCompare">
                                        <div class="containerWrapProductCompare">
                                            <img src="@Url.Content(product.Image)" class="lazy-image" alt="@product.Name" style="max-width: 210px" width="210" height="280">
                                            <div class="badgeProductVariantName__Compare">
                                                <span class="badge bg-light text-dark fs-12px px-4 py-4" title="@product.ProductVariants[0].Name">
                                                    @product.ProductVariants[0].Name
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                </a>



                            </th>
                        }
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="col" class="text-center align-middle bg-body-tertiary p-5">
                            <span class="fs-6 text-body-emphasis fw-500">Price</span>
                        </th>
                        <td scope="col" class="px-6 px-lg-9 align-middle">
                            @if (selectedProduct.Discount != 0)
                            {
                                <span class="fs-15px fw-500 text-decoration-line-through text-body">
                                    $@selectedProduct.ProductVariants[0].Price.ToString("F2")
                                </span>
                            }
                            <span class="pe-3 fs-18px font-weight-bold text-body-emphasis">
                                $@(((selectedProduct.ProductVariants[0].Price) * ((100 - selectedProduct.Discount) / 100)).ToString("F2"))
                            </span>
                            @if (selectedProduct.Discount != 0)
                            {
                                <span class="badge bg-primary ms-4 fs-6">-@selectedProduct.Discount%</span>
                            }

                        </td>
                        @foreach (var product in relatedProducts)
                        {
                            <td scope="col" class="px-6 px-lg-9 align-middle">
                                @if (product.Discount != 0)
                                {
                                    <span class="fs-15px fw-500 text-decoration-line-through text-body">
                                        $@product.ProductVariants[0].Price.ToString("F2")
                                    </span>
                                }
                                <span class="pe-3 fs-18px font-weight-bold text-body-emphasis">
                                    $@(((product.ProductVariants[0].Price) * ((100 - product.Discount) / 100)).ToString("F2"))
                                </span>
                                @if (product.Discount != 0)
                                {
                                    <span class="badge bg-primary ms-4 fs-6">-@product.Discount%</span>
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <th scope="col" class="text-center align-middle bg-body-tertiary p-5">
                            <span class="fs-6 text-body-emphasis fw-500">Stock Status</span>
                        </th>
                        <td class="px-6 px-lg-9 align-middle">
                            <i class="fas fa-check fs-12px px-2 py-1 rounded-circle bg-primary text-white d-inline-flex align-items-center justify-content-center"></i>
                            <span class="fs-15px fw-500 ms-3">In stock</span>
                        </td>

                        @foreach (var product in relatedProducts)
                        {
                            <td class="px-6 px-lg-9 align-middle">
                                <i class="fas fa-check fs-12px px-2 py-1 rounded-circle bg-primary text-white d-inline-flex align-items-center justify-content-center"></i>
                                <span class="fs-15px fw-500 ms-3">In stock</span>
                            </td>
                        }
                    </tr>
                    <tr>

                        <th scope="col" class="text-center align-middle bg-body-tertiary p-5">Add to Cart</th>
                        @if (!string.IsNullOrEmpty(userEmail))
                        {
                            <td class="px-6 text-center align-middle py-7">
                                <a href="javascript:;" onclick="addToCart(@selectedProduct.Id)" class="btn btn-dark btn-hover-bg-primary border-0 py-4">Add To Cart</a>
                            </td>
                        }
                        else
                        {

                            <td class="px-6 text-center align-middle py-7">
                                <a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart" onclick="showLoginPopup('HomeIndex')" class="btn btn-dark btn-hover-bg-primary border-0 py-4">Add To Cart</a>
                            </td>
                        }
                        @foreach (var product in relatedProducts)
                        {
                            @if (!string.IsNullOrEmpty(userEmail))
                            {
                                <td class="px-6 text-center align-middle py-7">
                                    <a href="javascript:;" onclick="addToCart(@product.Id)" class="btn btn-dark btn-hover-bg-primary border-0 py-4">Add To Cart</a>
                                </td>
                            }
                            else
                            {

                                <td class="px-6 text-center align-middle py-7">
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart" onclick="showLoginPopup('HomeIndex')" class="btn btn-dark btn-hover-bg-primary border-0 py-4">Add To Cart</a>
                                </td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
